obj*
bin*
*.pre
*.DBK
*.PWI
/build/mplabx-pic18/blinktest_18f2550_xc8.X/build/
/build/mplabx-pic18/blinktest_18f2550_xc8.X/dist/
/build/mplabx-pic18/blinktest_18f2550_htc.X/build/
/build/mplabx-pic18/blinktest_18f2550_htc.X/dist/
/build/mplabx-pic16/blinktest_16f876a_xc8.X/build/
/build/mplabx-pic16/blinktest_16f876a_xc8.X/dist/
/build/mplabx-pic18/blinktest_18f25k50_xc8.X/build/
/build/mplabx-pic18/blinktest_18f25k50_xc8.X/dist/
/build/mplabx-pic18/blinktest_18f25k22_xc8.X/build/
/build/mplabx-pic18/blinktest_18f25k22_xc8.X/dist/
/build/mplabx-pic18/blinktest_18f2455_xc8.X/build/
/build/mplabx-pic18/blinktest_18f2455_xc8.X/dist/
/build/mplabx-pic18/blinktest_18f2550_sdcc.X/build/
/build/mplabx-pic18/blinktest_18f2550_sdcc.X/dist/
/build/mplabx-pic16/blinktest_16f876a_sdcc.X/build/
/build/mplabx-pic18/blinktest_18f25k50_sdcc.X/build/
/build/mplabx-pic18/blinktest_18f25k50_sdcc.X/dist/
/build/mplabx-pic16/blinktest_16f876a_sdcc.X/dist/
/build/mplabx-pic18/blinktest_18f25k22_sdcc.X/build/
/build/mplabx-pic18/blinktest_18f25k22_sdcc.X/dist/
/build/mplabx-pic18/blinktest_18f14k50_sdcc.X/build/
/build/mplabx-pic18/blinktest_18f14k50_sdcc.X/dist/
/build/mplabx-pic18/blinktest_18f14k50_xc8.X/build/
/build/mplabx-pic18/blinktest_18f14k50_xc8.X/dist/
/build/mplabx-pic18/blinktest_18f14k50_htc.X/build/
/build/mplabx-pic18/blinktest_18f14k50_htc.X/dist/
/build/mplabx-pic18/blinktest_18f2550_mcc.X/build/
/build/mplabx-pic18/blinktest_18f2550_mcc.X/dist/
/build/mplabx-pic18/blinktest_18f25k22_mcc.X/build/
/build/mplabx-pic18/blinktest_18f25k22_mcc.X/dist/
/build/mplabx-pic16/seg7test_16f876a_xc8.X/build/
/build/mplabx-pic16/seg7test_16f876a_xc8.X/dist/
/build/mplabx-pic18/seg7test_18f2550_htc.X/build/
/build/mplabx-pic18/seg7test_18f2550_htc.X/dist/
/build/mplabx-pic18/seg7test_18f25k50_sdcc.X/build/
/build/mplabx-pic18/seg7test_18f25k50_sdcc.X/dist/
/build/mplabx-pic18/seg7test_18f25k50_xc8.X/build/
/build/mplabx-pic18/seg7test_18f25k50_xc8.X/dist/
/build/mplabx-pic18/seg7test_18f14k50_xc8.X/build/
/build/mplabx-pic18/seg7test_18f14k50_xc8.X/dist/
/build/mplabx-pic18/blinktest_18f252_xc8.X/dist/
/build/mplabx-pic18/blinktest_18f252_xc8.X/build/
/build/mplabx-pic18/pictest_18f252_xc8.X/build/
/build/mplabx-pic18/pictest_18f252_xc8.X/dist/
/build/mplabx-pic16/pictest_16f876a_xc8.X/build/
/build/mplabx-pic16/pictest_16f876a_xc8.X/dist/
/build/mplabx-pic18/pictest_18f2455_xc8.X/build/
/build/mplabx-pic18/pictest_18f2455_xc8.X/dist/
/build/mplabx-pic16/serialtest_16f876a_xc8.X/dist/
/build/mplabx-pic16/serialtest_16f876a_xc8.X/build/
/build/mplabx-pic18/serialtest_18f252_xc8.X/dist/
/build/mplabx-pic18/serialtest_18f252_xc8.X/build/
/build/mplabx-pic18/serialtest_18f2455_xc8.X/build/
/build/mplabx-pic18/serialtest_18f2455_xc8.X/dist/
/build/mplabx-pic18/pictest_18f25k50_xc8.X/build/
/build/mplabx-pic18/pictest_18f25k50_xc8.X/dist/
/build/mplabx-pic18/serialtest_18f25k50_xc8.X/dist/
/build/mplabx-pic18/serialtest_18f25k50_xc8.X/build/
/bootloaders/XPRESS-Bootloader/MPLAB.X/build/
/build/mplabx-pic18/pic12f1840_template_1.X/build/
/build/mplabx-pic18/pic12f1840_template_1.X/dist/
/build/mplabx-pic18/pic16f1936_template_1.X/build/
/build/mplabx-pic18/pic16f1936_template_1.X/dist/
/build/mplabx-pic18/blinktest_18f16q41_xc8.X/build/
/build/mplabx-pic18/blinktest_18f16q41_xc8.X/dist/