[submodule "wave-cpp-xc8"]
	path = wave-cpp-xc8
	url = https://github.com/rsenn/wave-cpp-xc8.git
[submodule "lib"]
	path = lib
	url = https://github.com/rsenn/piclib.git
[submodule "bootloaders/18f2550-usb-hid-xc8"]
	path = bootloaders/18f2550-usb-hid-xc8
	url = https://github.com/rsenn/18F2550-USB-HID-XC8.git
[submodule "bootloaders/18f4550-usb-hid-xc8"]
	path = bootloaders/18f4550-usb-hid-xc8
	url = https://github.com/rsenn/18F4550-USB-HID-XC8.git
